.simplecms__simple-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  display: none;
}

.simplecms__simple-popup--visible {
  display: flex;
}

.simplecms__simple-popup__bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
}

.simplecms__simple-popup__content {
  position: absolute;
  margin-top: 15vh;
  background-color: white;
  width: 500px;
  padding: 50px 60px 50px;
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 10002;
}

.simplecms__simple-popup__title {
  font-size: 28px;
  font-weight: bold;
  font-family: "Trebuchet MS", sans-serif;
  color: #0A0F10;
  margin: 0 0 10px;
  padding: 0;
}

.simplecms__simple-popup__sub-title {
  font-size: 16px;
  font-family: "Trebuchet MS", sans-serif;
  color: #0A0F10;
  margin: 0 0 40px;
  padding: 0;
}

.simplecms__simple-popup__row {
  margin-bottom: 10px;
}

.simplecms__simple-popup__label {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgba(#0A0F10, 0.4);
  display: block;
  margin-bottom: 5px;
}

.simplecms__simple-popup__input {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  background-color: white;
  border: 1px solid rgba(#0A0F10, 0.4);
  border-radius: 5px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;

  &:focus {
    border: 1px solid rgba(#3854A6, 0.4);
  }
}

.simplecms__simple-popup__buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}

.simplecms__simple-popup__submit {
  border: none;
  outline: none;
  background-color: #3854A6;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
}

// File Box

.simplecms__simple-popup__file-box {
  padding-top: 40%;
  background-color: rgba(#3854A6, 0.1);
  border: 2px solid rgba(#3854A6, 0.2);
  position: relative;
  border-radius: 15px;
  //opacity: 0.8;
  cursor: pointer;
  margin-top: 10px;

  &:hover,
  &--active{
    background-color: rgba(#3854A6, 0.2);
    border: 2px solid rgba(#3854A6, 0.5);
  }
}

.simplecms__simple-popup__file-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Trebuchet MS", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgba(#3854A6, 0.6);
  margin: 0;
  letter-spacing: 0.02em;
  z-index: 2;
}

.simplecms__simple-popup__file-box:hover .simplecms__simple-popup__file-text,
.simplecms__simple-popup__file-box--active .simplecms__simple-popup__file-text {
  color: rgba(#3854A6, 1);
}

.simplecms__simple-popup__file-input {
  display: none;
}

.simplecms__simple-popup__file-preview {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 10px;
}
