.ProseMirror-menubar-spacer + .ProseMirror-menubar {
  //display: none !important;
  top: 50px;
}

.simplecms__editor--readonly .ProseMirror-menubar {
  display: none;
}

.ProseMirror-textblock-dropdown {
  min-width: 3em;
}

.ProseMirror-menu {
  margin: 0 -4px;
  line-height: 1;
}

.ProseMirror-tooltip .ProseMirror-menu {
  width: -webkit-fit-content;
  width: fit-content;
  white-space: pre;
}

.ProseMirror-menuitem {
  //margin-right: 3px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 2px;

  &:last-child {
    border-right: none;
  }
}

.ProseMirror-menuseparator {
  border-right: 1px solid #ccc;
  height: 100%;
  margin: {
    right: 10px;
    left: 5px;
  }
}

.ProseMirror-menu-dropdown, .ProseMirror-menu-dropdown-menu {
  font-size: 90%;
  white-space: nowrap;
}

.ProseMirror-menu-dropdown {
  vertical-align: 1px;
  cursor: pointer;
  position: relative;
  padding-right: 15px;
  padding: {
    left: 10px;
    right: 20px;
  }
  height: 90%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: "Trebuchet MS", sans-serif;

  &:hover {
    background-color: #ccc;
    border-radius: 4px;
  }
}

.ProseMirror-menu-dropdown-wrap {
  padding: 1px 0 1px 4px;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.ProseMirror-menu-dropdown:after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  opacity: .6;
  position: absolute;
  right: 4px;
  top: calc(50% - 2px);
}

.ProseMirror-menu-dropdown-menu, .ProseMirror-menu-submenu {
  position: absolute;
  background: white;
  color: #0A0F10;
  border: 1px solid #ccc;
  padding: 2px;
}

.ProseMirror-menu-dropdown-menu {
  z-index: 15;
  min-width: 6em;
  top: 100%;
  padding: 5px 0;
}

.ProseMirror-menu-dropdown-item {
  cursor: pointer;
  //padding: 2px 8px 2px 4px;
  padding: 5px 15px;
  font-family: "Trebuchet MS", sans-serif;
}

.ProseMirror-menu-dropdown-item:hover {
  background: #f2f2f2;
}

.ProseMirror-menu-submenu-wrap {
  position: relative;
  margin-right: -4px;
}

.ProseMirror-menu-submenu-label:after {
  content: "";
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid currentColor;
  opacity: .6;
  position: absolute;
  right: 4px;
  top: calc(50% - 4px);
}

.ProseMirror-menu-submenu {
  display: none;
  min-width: 4em;
  left: 100%;
  top: -3px;
}

.ProseMirror-menu-active {
  background: #ccc;
  border-radius: 4px;
}

.ProseMirror-menu-disabled {
  opacity: .3;
}

.ProseMirror-menu-submenu-wrap:hover .ProseMirror-menu-submenu, .ProseMirror-menu-submenu-wrap-active .ProseMirror-menu-submenu {
  display: block;
}

.ProseMirror-menubar {
  position: relative;
  //min-height: 1em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  color: #0A0F10;
  padding: 1px 6px;
  top: 0; left: 0; right: 0;
  border-top: 0.5px solid #000;
  border-bottom: 2px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  background: white;
  z-index: 10;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}

.ProseMirror-icon {
  display: flex;
  align-items: center;
  line-height: .8;
  vertical-align: -2px; /* Compensate for padding */
  padding: 2px 12px;
  cursor: pointer;
  height: 80%;
}

.ProseMirror-menu-disabled.ProseMirror-icon {
  cursor: default;
}

.ProseMirror-icon svg {
  fill: currentColor;
  height: 1em;
}

.ProseMirror-icon span {
  vertical-align: text-top;
}
