{% extends "layouts/layout.twig" %}

{% block hero %}

    <h1 class="hero__title">
        {{ text("hero__title", "Your mind is a powerful thing. When you fill it with positive thoughts your life will begin to change") }}
        {#        <span class="nobr">to change!</span>#}
    </h1>
    <p class="hero__text">
        So, choose your thoughts, focus and take action!
    </p>

{% endblock %}


{% block content %}

    <main class="main main--high container">

        <div class="post">
            <div class="post__content">
                <a href="/" class="post__home">
                    Home
                    <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L6.5 6.5L1 12" stroke="black"/>
                    </svg>
                </a>
                <div class="post__auto">
{#                    {{ wisywig("some_name") }}#}

                    <div class="simplecms__editor">
                        <h1>
                            Test
                        </h1>
                        <p>
                            Another <strong>thing</strong> that is bold.
                        </p>
                    </div>



{#                    <h1>#}
{#                        Waarom loopbaan coaching?#}
{#                    </h1>#}
{#                    <blockquote>#}
{#                        Het gevoel overal ingerold te zijn.#}
{#                        Het anders willen.#}
{#                        Richting vinden in je carrière.#}
{#                        Je talenten leren kennen en inzetten.#}
{#                        Wie ben je?#}
{#                    </blockquote>#}
{#                    <p>#}
{#                        Loopbanen voor hoogopgeleide professionals van nu bestaan uit een continue waaier aan keuzes en mogelijkheden. Tegelijkertijd heeft elke keuze consequenties voor het vervolg. Hoe moet je kiezen? Terwijl de neiging kan zijn je te richten op de vele mogelijkheden en belemmeringen op de banenmarkt, ben jijzelf het belangrijkste kompas! Onderzoek naar wie je bent, wat je nodig hebt in werk, wat je inspireert en wat jou ‘zin’ in werk geeft maakt helder welk pad je moet gaan opzoeken of creëren. Dat vraag onderzoek, soms ook van belemmerende krachten in jezelf, en in de spiegel kijken.#}
{#                    </p>#}
{#                    <h2>#}
{#                        Empowering yourself wil via coaching en training mensen in hun kracht zetten.#}
{#                    </h2>#}
{#                    <img src="img/blondface.jpg" alt="">#}
{#                    <p>#}
{#                        Loopbanen voor hoogopgeleide professionals van nu bestaan uit een continue waaier aan keuzes en mogelijkheden. Tegelijkertijd heeft elke keuze consequenties voor het vervolg. Hoe moet je kiezen? Terwijl de neiging kan zijn je te richten op de vele mogelijkheden en belemmeringen op de banenmarkt, ben jijzelf het belangrijkste kompas! Onderzoek naar wie je bent, wat je nodig hebt in werk, wat je inspireert en wat jou ‘zin’ in werk geeft maakt helder welk pad je moet gaan opzoeken of creëren. Dat vraag onderzoek, soms ook van belemmerende krachten in jezelf, en in de spiegel kijken.#}
{#                    </p>#}
                </div>
            </div>
        </div>

    </main>

{% endblock %}
