{% extends "layouts/layout.twig" %}

{% block hero %}

{% endblock %}


{% block content %}

    <main class="main main--high container">

        <ul>
            {% for post in recent_posts("blog") %}
                <li style="list-style: none; width: 400px; display: block; background: white; padding: 40px; border-radius: 20px; margin-bottom: 20px;">
                    {{ post_value(post, "post_title") }}
                    <div>
                        <a href="{{ post_url(post) }}">Some post</a>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </main>

{% endblock %}
